# Joining and Appending Dataframes

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('joins').getOrCreate()
spark

In [2]:
valuesP = [('koala', 1, 'yes'), ('caterpillar', 2, 'yes'), ('deer', 3, 'yes'), ('human', 4, 'yes')]
eats_plants = spark.createDataFrame(valuesP, ['name', 'id', 'eats_plants'])

valuesM = [('shark', 5, 'yes'), ('lion', 6, 'yes'), ('tiger', 7, 'yes'), ('human', 4, 'yes')]
eats_meat = spark.createDataFrame(valuesM, ['name', 'id', 'eats_meat'])

print('Plant eaters (herbivores)')
print(eats_plants.show())
print('Meat eaters (carnivores)')
print(eats_meat.show())

Plant eaters (herbivores)
+-----------+---+-----------+
|       name| id|eats_plants|
+-----------+---+-----------+
|      koala|  1|        yes|
|caterpillar|  2|        yes|
|       deer|  3|        yes|
|      human|  4|        yes|
+-----------+---+-----------+

None
Meat eaters (carnivores)
+-----+---+---------+
| name| id|eats_meat|
+-----+---+---------+
|shark|  5|      yes|
| lion|  6|      yes|
|tiger|  7|      yes|
|human|  4|      yes|
+-----+---+---------+

None

In [3]:
new_df = eats_plants

In [4]:
df_append = eats_plants.union(new_df)

In [5]:
eats_plants.count()

4

In [6]:
df_append.count()

8

In [7]:
# Inner Joins
inner_join = eats_plants.join(eats_meat, ['name', 'id'], 'inner')
inner_join.show()

+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|human|  4|        yes|      yes|
+-----+---+-----------+---------+

In [8]:
# Left Joins
left_join = eats_plants.join(eats_meat, ['name', 'id'], 'left')
left_join.show()

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
|      koala|  1|        yes|     null|
+-----------+---+-----------+---------+

In [9]:
# Left Joins
right_join = eats_plants.join(eats_meat, ['name', 'id'], 'right')
right_join.show()

+-----+---+-----------+---------+
| name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|human|  4|        yes|      yes|
| lion|  6|       null|      yes|
|shark|  5|       null|      yes|
|tiger|  7|       null|      yes|
+-----+---+-----------+---------+

In [10]:
# Left Joins
cond_join = eats_plants.join(eats_meat, ['name', 'id'], 'left').filter(eats_meat.name.isNull())
cond_join.show()

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      koala|  1|        yes|     null|
+-----------+---+-----------+---------+

In [11]:
# Full outer joins
full_join = eats_plants.join(eats_meat, ['name', 'id'], 'full')
full_join.show()

+-----------+---+-----------+---------+
|       name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|caterpillar|  2|        yes|     null|
|       deer|  3|        yes|     null|
|      human|  4|        yes|      yes|
|      koala|  1|        yes|     null|
|       lion|  6|       null|      yes|
|      shark|  5|       null|      yes|
|      tiger|  7|       null|      yes|
+-----------+---+-----------+---------+

In [12]:
import os

path = 'Datasets/uw-madison-courses/'

In [13]:
df_list = []
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        filename_list = filename.split('.')
        df_name = filename_list[0]
        df = spark.read.csv(path + filename, inferSchema = True, header = True)
        df.name = df_name
        df_list.append(df_name)
        exec(df_name + ' = df')

In [14]:
df_list

['courses',
 'course_offerings',
 'grade_distributions',
 'instructors',
 'rooms',
 'schedules',
 'sections',
 'subjects',
 'subject_memberships',
 'teachings']

In [15]:
subjects.show()

+----+--------------------+------------+
|code|                name|abbreviation|
+----+--------------------+------------+
| 908|        Soil Science|    SOIL SCI|
| 350|             ENGLISH|     ENGLISH|
| 351|English as a Seco...|         ESL|
| 230|Human Development...|        HDFS|
| 352|             English|        ENGL|
| 231|    General Business|     GEN BUS|
| 232|Accounting and In...|    ACCT I S|
| 112|Biological System...|         BSE|
| 233|Finance, Investme...|     FINANCE|
| 476|        Horticulture|        HORT|
| 355|          Entomology|       ENTOM|
| 234| Information Systems|    INFO SYS|
| 235|International Bus...|    INTL BUS|
| 236|Management and Hu...|       M H R|
| 237|           Marketing|    MARKETNG|
| 359|      Design Studies|          DS|
| 238|Operations and Te...|         OTM|
| 239|Real Estate and U...|    REAL EST|
| 912|Spanish (Spanish ...|     SPANISH|
| 480|      Human Oncology|     H ONCOL|
+----+--------------------+------------+
only showing top 20 rows

In [18]:
instructors.show(1, False)

+------+----------------+
|id    |name            |
+------+----------------+
|761703|JOHN ARCHAMBAULT|
+------+----------------+
only showing top 1 row

In [16]:
course_offerings.show(1, False)

+------------------------------------+------------------------------------+---------+--------------------------+
|uuid                                |course_uuid                         |term_code|name                      |
+------------------------------------+------------------------------------+---------+--------------------------+
|344b3ebe-da7e-314c-83ed-9425269695fd|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1092     |Cooperative Education Prog|
+------------------------------------+------------------------------------+---------+--------------------------+
only showing top 1 row

In [17]:
course_offerings.show(3)

+--------------------+--------------------+---------+--------------------+
|                uuid|         course_uuid|term_code|                name|
+--------------------+--------------------+---------+--------------------+
|344b3ebe-da7e-314...|a3e3e1c3-543d-3bb...|     1092|Cooperative Educa...|
|f718e6cd-33f0-3c1...|a3e3e1c3-543d-3bb...|     1082|Cooperative Educa...|
|ea3b717c-d66b-30d...|a3e3e1c3-543d-3bb...|     1172|Cooperative Educa...|
+--------------------+--------------------+---------+--------------------+
only showing top 3 rows

* course_offerings(CO): uuid, course_uuid, term_code, name
* instructors (I): id, name
* sections (S): uuid, course_offering_uuid, room_uuid, schedule_uuid
* teachings (T): instructor_id, section_uuid

I.id --> T.instructor_id
            \/
         T.section_uuid --> S.uuid
                              \/
                             S.course_offering_uuid --> CO.uuid

In [21]:
step1 = teachings.join(instructors, teachings.instructor_id == instructors.id, 'left')
step1.show()

+-------------+--------------------+-------+----------------+
|instructor_id|        section_uuid|     id|            name|
+-------------+--------------------+-------+----------------+
|       761703|45adf63c-48c9-365...| 761703|JOHN ARCHAMBAULT|
|       761703|c6280e23-5e43-385...| 761703|JOHN ARCHAMBAULT|
|       761703|9395dc21-15d1-3fa...| 761703|JOHN ARCHAMBAULT|
|      3677061|b99e440b-39db-350...|3677061|  STEPHANIE KANN|
|       761703|ca1c841f-41d5-329...| 761703|JOHN ARCHAMBAULT|
|      3677061|da41b0aa-2b81-378...|3677061|  STEPHANIE KANN|
|       761703|51c4dc00-1fc7-3c7...| 761703|JOHN ARCHAMBAULT|
|       761703|53f95c0f-4ea9-374...| 761703|JOHN ARCHAMBAULT|
|       761703|574d9b35-9c76-338...| 761703|JOHN ARCHAMBAULT|
|       761703|8fc362a6-d94e-3ad...| 761703|JOHN ARCHAMBAULT|
|       761703|d50e7478-e12f-363...| 761703|JOHN ARCHAMBAULT|
|       761703|b21564d2-2bc4-3b8...| 761703|JOHN ARCHAMBAULT|
|       788586|8853d23e-64b1-3cf...| 788586|      KATHY PREM|
|       788586|94339199-eaf3-393...| 788586|      KATHY PREM|
|       761703|0d72958a-291b-33d...| 761703|JOHN ARCHAMBAULT|
|       761703|dfb55b25-ac7a-366...| 761703|JOHN ARCHAMBAULT|
|       761703|27be2077-fd69-3a2...| 761703|JOHN ARCHAMBAULT|
|       761703|56ef2b0f-0776-309...| 761703|JOHN ARCHAMBAULT|
|      3677061|ad67e659-fbf4-32a...|3677061|  STEPHANIE KANN|
|      3677061|e80fe1ab-6b0b-32d...|3677061|  STEPHANIE KANN|
+-------------+--------------------+-------+----------------+
only showing top 20 rows

In [24]:
step2 = step1.join(sections, step1.section_uuid == sections.uuid, 'left').select(['name', 'course_offering_uuid'])
step2.limit(4).toPandas()

             name                  course_offering_uuid
0    JAMES STEELE  dfac15fb-e446-339e-9403-38b270895b6c
1    TERESA CLARK  878d4f26-4e7e-3cec-b2e3-28fd56d6489c
2    JAMES STEELE  3fc6bfe1-7929-3f2e-af13-5185f1cf7383
3  STEPHANIE KANN  ea3b717c-d66b-30dc-8b37-964d9688295f

In [25]:
step3 = step2.withColumnRenamed('name', 'instructor').join(course_offerings, step2.course_offering_uuid == course_offerings.uuid, 'inner')
step3.limit(4).toPandas()

,instructor,course_offering_uuid,uuid,course_uuid,term_code,name
0,MICHAEL CONNORS,128f24cf-b7bf-3a8b-8f04-136c7b6fa556,128f24cf-b7bf-3a8b-8f04-136c7b6fa556,1f7cc0a1-e94f-37bd-86e5-717fe755a19f,1154,Special Topics
1,RICK JENISON,f513b3a7-9fdc-30f2-9f50-666870298ead,f513b3a7-9fdc-30f2-9f50-666870298ead,7fb80554-a997-3ee8-bbae-849887b885ca,1084,Research
2,SUSANNE BARNETT,9dcee3f1-0909-318b-8a3d-72c931959656,9dcee3f1-0909-318b-8a3d-72c931959656,1dfde01c-2e50-31d7-bcc6-3e5c44756f8d,1114,Advanced Independent Study
3,THOMAS JAHNS,f850ab24-740c-311a-a669-804a3fea7b0b,f850ab24-740c-311a-a669-804a3fea7b0b,2c3a2a38-9f53-3cfb-8f37-cde4cb3d4b4b,1074,Master's Research or Thesis

In [26]:
from pyspark.sql.functions import levenshtein

In [27]:
df0 = spark.createDataFrame([('Aple', 'Apple', 'Microsoft', 'IBM')], ['Input', 'Option1', 'Option2', 'Option3'])
df0.show()

+-----+-------+---------+-------+
|Input|Option1|  Option2|Option3|
+-----+-------+---------+-------+
| Aple|  Apple|Microsoft|    IBM|
+-----+-------+---------+-------+

In [28]:
df0.select(levenshtein('Input', 'Option1').alias('Apple')).show()

+-----+
|Apple|
+-----+
|    1|
+-----+

In [29]:
df0.select(levenshtein('Input', 'Option2').alias('Microsoft')).show()

+---------+
|Microsoft|
+---------+
|        9|
+---------+

In [30]:
df0.select(levenshtein('Input', 'Option3').alias('IBM')).show()

+---+
|IBM|
+---+
|  4|
+---+