## Creating a Spark Session

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('PySpark').getOrCreate()
spark

### Create a Spark dataframe

In [3]:
data = [['tom', 10], ['nick', 15], ['juli', 14]]
df = spark.createDataFrame(data, ['Name', 'Age'])

# Con pandas: 
# df = pd.DataFrame(data, columns = ['Name', 'Age'])

In [4]:
df.show()

+----+---+
|Name|Age|
+----+---+
| tom| 10|
|nick| 15|
|juli| 14|
+----+---+

In [5]:
df.toPandas()

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [6]:
df.columns

['Name', 'Age']

In [7]:
df.count()

3