# SQL Optionsin Spark

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkSQL').getOrCreate()
spark

In [2]:
path = 'DataSets/'
crime = spark.read.csv(path + 'rec-crime-pfa.csv', header = True, inferSchema = True)

In [3]:
crime.limit(5).toPandas()

,12 months ending,PFA,Region,Offence,Rolling year total number of offences
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561

In [4]:
crime.printSchema()

root
 |-- 12 months ending: string (nullable = true)
 |-- PFA: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Offence: string (nullable = true)
 |-- Rolling year total number of offences: integer (nullable = true)

In [5]:
df = crime.withColumnRenamed('Rolling year total number of offences', 'Count')
df.printSchema()

root
 |-- 12 months ending: string (nullable = true)
 |-- PFA: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Offence: string (nullable = true)
 |-- Count: integer (nullable = true)

In [6]:
df.createOrReplaceTempView('tempview')

In [7]:
spark.sql('SELECT * FROM tempview').limit(5).toPandas()

,12 months ending,PFA,Region,Offence,Count
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561

In [11]:
sql_results = spark.sql('SELECT Region, Offence FROM tempview WHERE Count > 1000')
sql_results.limit(5).toPandas()

       Region                    Offence
0  South West   All other theft offences
1  South West              Bicycle theft
2  South West  Criminal damage and arson
3  South West          Domestic burglary
4  South West              Drug offences

In [12]:
spark.sql('SELECT Region, sum(Count) AS Total FROM tempview GROUP BY Region').toPandas()

                      Region     Total
0               Fraud: CIFAS   7678981
1                 North West  30235732
2   British Transport Police   3029117
3                      Wales  11137260
4                     London  42691902
5                 South East  30911995
6        Fraud: Action Fraud   5921984
7          Fraud: UK Finance   2925861
8                 South West  17985880
9                       East  19890612
10             East Midlands  17264827
11  Yorkshire and The Humber  23769180
12             West Midlands  21040955
13                North East  10236642

In [13]:
from pyspark.ml.feature import SQLTransformer

In [14]:
sqlTrans = SQLTransformer(statement = 'SELECT PFA, Region, Offence FROM __THIS__')

In [15]:
sqlTrans.transform(df).show(5)

+-----------------+----------+--------------------+
|              PFA|    Region|             Offence|
+-----------------+----------+--------------------+
|Avon and Somerset|South West|All other theft o...|
|Avon and Somerset|South West|       Bicycle theft|
|Avon and Somerset|South West|Criminal damage a...|
|Avon and Somerset|South West|Death or serious ...|
|Avon and Somerset|South West|   Domestic burglary|
+-----------------+----------+--------------------+
only showing top 5 rows

In [16]:
type(sqlTrans)

pyspark.ml.feature.SQLTransformer

In [17]:
sqlTrans = SQLTransformer(statement = 'SELECT Offence, SUM(Count) as Total FROM __THIS__ GROUP BY Offence ')
sqlTrans.transform(df).show()

+--------------------+--------+
|             Offence|   Total|
+--------------------+--------+
|Public order offe...|10925676|
|       Bicycle theft| 5297006|
|Residential burglary| 1671469|
|Violence without ...|16590158|
|All other theft o...|30979393|
|             Robbery| 3788128|
|               CIFAS| 7678981|
|      Fraud offences| 2596554|
|     Sexual offences| 4006741|
|Criminal damage a...|37767463|
|            Homicide|   34154|
|Possession of wea...| 1555951|
|          UK Finance| 2925861|
|Stalking and hara...| 5587434|
|Theft from the pe...| 5105153|
|         Shoplifting|16781641|
|       Drug offences| 9999435|
|    Vehicle offences|26075670|
|   Domestic burglary|11694636|
|Miscellaneous cri...| 3143136|
+--------------------+--------+
only showing top 20 rows

In [18]:
result = sqlTrans.transform(df)
result.show()

+--------------------+--------+
|             Offence|   Total|
+--------------------+--------+
|Public order offe...|10925676|
|       Bicycle theft| 5297006|
|Residential burglary| 1671469|
|Violence without ...|16590158|
|All other theft o...|30979393|
|             Robbery| 3788128|
|               CIFAS| 7678981|
|      Fraud offences| 2596554|
|     Sexual offences| 4006741|
|Criminal damage a...|37767463|
|            Homicide|   34154|
|Possession of wea...| 1555951|
|          UK Finance| 2925861|
|Stalking and hara...| 5587434|
|Theft from the pe...| 5105153|
|         Shoplifting|16781641|
|       Drug offences| 9999435|
|    Vehicle offences|26075670|
|   Domestic burglary|11694636|
|Miscellaneous cri...| 3143136|
+--------------------+--------+
only showing top 20 rows

In [19]:
from pyspark.sql.functions import expr

In [21]:
sqlTrans = SQLTransformer(statement = 'SELECT SUM(Count) as Total FROM __THIS__ ')
sqlTrans.transform(df).show()

+---------+
|    Total|
+---------+
|244720928|
+---------+

In [22]:
df.withColumn('percent', expr('round((count/244720928) * 100, 2)')).show()

+----------------+-----------------+----------+--------------------+-----+-------+
|12 months ending|              PFA|    Region|             Offence|Count|percent|
+----------------+-----------------+----------+--------------------+-----+-------+
|      31/03/2003|Avon and Somerset|South West|All other theft o...|25959|   0.01|
|      31/03/2003|Avon and Somerset|South West|       Bicycle theft| 3090|    0.0|
|      31/03/2003|Avon and Somerset|South West|Criminal damage a...|26202|   0.01|
|      31/03/2003|Avon and Somerset|South West|Death or serious ...|    2|    0.0|
|      31/03/2003|Avon and Somerset|South West|   Domestic burglary|14561|   0.01|
|      31/03/2003|Avon and Somerset|South West|       Drug offences| 2308|    0.0|
|      31/03/2003|Avon and Somerset|South West|      Fraud offences| 5339|    0.0|
|      31/03/2003|Avon and Somerset|South West|            Homicide|   19|    0.0|
|      31/03/2003|Avon and Somerset|South West|Miscellaneous cri...| 1597|    0.0|
|      31/03/2003|Avon and Somerset|South West|Non-domestic burg...|15621|   0.01|
|      31/03/2003|Avon and Somerset|South West|Possession of wea...|  735|    0.0|
|      31/03/2003|Avon and Somerset|South West|Public order offe...| 4025|    0.0|
|      31/03/2003|Avon and Somerset|South West|             Robbery| 3504|    0.0|
|      31/03/2003|Avon and Somerset|South West|     Sexual offences| 1737|    0.0|
|      31/03/2003|Avon and Somerset|South West|         Shoplifting| 8410|    0.0|
|      31/03/2003|Avon and Somerset|South West|Stalking and hara...|  740|    0.0|
|      31/03/2003|Avon and Somerset|South West|Theft from the pe...| 2554|    0.0|
|      31/03/2003|Avon and Somerset|South West|    Vehicle offences|41781|   0.02|
|      31/03/2003|Avon and Somerset|South West|Violence with injury| 8565|    0.0|
|      31/03/2003|Avon and Somerset|South West|Violence without ...| 7117|    0.0|
+----------------+-----------------+----------+--------------------+-----+-------+
only showing top 20 rows

In [24]:
df.select('*', expr('round((count/244720928) * 100, 2)')).toPandas()

,12 months ending,PFA,Region,Offence,Count,"round(((count / 244720928) * 100), 2)"
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959,0.01
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090,0.00
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202,0.01
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2,0.00
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561,0.01
...,...,...,...,...,...,...
46464,31/12/2018,Wiltshire,South West,Stalking and harassment,2380,0.00
46465,31/12/2018,Wiltshire,South West,Theft from the person,347,0.00
46466,31/12/2018,Wiltshire,South West,Vehicle offences,2895,0.00
46467,31/12/2018,Wiltshire,South West,Violence with injury,5701,0.00
46468,31/12/2018,Wiltshire,South West,Violence without injury,5840,0.00

In [25]:
df.selectExpr('*', 'round((count/244720928) * 100, 2) AS Percent').filter('Region = "South West"').toPandas()

,12 months ending,PFA,Region,Offence,Count,Percent
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959,0.01
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090,0.00
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202,0.01
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2,0.00
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561,0.01
...,...,...,...,...,...,...
5265,31/12/2018,Wiltshire,South West,Stalking and harassment,2380,0.00
5266,31/12/2018,Wiltshire,South West,Theft from the person,347,0.00
5267,31/12/2018,Wiltshire,South West,Vehicle offences,2895,0.00
5268,31/12/2018,Wiltshire,South West,Violence with injury,5701,0.00
5269,31/12/2018,Wiltshire,South West,Violence without injury,5840,0.00